.containerMid{
    position: absolute;
    right: 35%;
    left: 35%;
    text-align: center;
}
.container{
    margin: 10px;
    padding: 10px;
}

.container > .col button{
    background-color: #006699;
} 